#warning-username{
    color: red;
    font-size: 12px;
    display: none; 
}

#warning-email{ 
    color: red;
    font-size: 12px;
    display: none; 
}

#warning-confirm-password{
    color: red;
    font-size: 12px;
    display:none;
}

#warning-password{
    color: red;
    font-size: 12px;
    display: none;
}

#warning-login-username{
    color: red;
    font-size: 12px;
    display: none;
}

#warning-login-password{
    color: red;
    font-size: 12px;
    display: none;
}

#warning-empty-login-username{
    color: red;
    font-size: 12px;
    display: none;
}

#warning-empty-login-password{
    color: red;
    font-size: 12px;
    display: none;
}


#warning-empty-username{ 
    color: red;
    font-size: 12px;
    display: none; 
}



#warning-empty-email{
    color: red;
    font-size: 12px;
    display: none;
}

#warning-empty-password{
    color: red;
    font-size: 12px;
    display: none; 
}

#warning-empty-confirm-password{
    color: red;
    font-size: 12px;
    display: none;
}


#warning-add-username{
    color: red;
    font-size: 12px;
    display: none;
}


#warning-empty-add-username{
    color: red;
    font-size: 12px;
    display: none;
}


#warning-add-password{
    color: red;
    font-size: 12px;
    display: none;
}

#warning-empty-add-password{
    color: red;
    font-size: 12px;
    display: none;
}

#warning-add-name{
    color: red;
    font-size: 12px;
    display: none;   
}

#warning-empty-add-name{
    color: red;
    font-size: 12px;
    display: none;   
}

#warning-add-phone{
    color: red;
    font-size: 12px;
    display: none;      
}

#warning-empty-add-phone{
    color: red;
    font-size: 12px;
    display: none;      
}

#warning-add-email{
    color: red;
    font-size: 12px;
    display: none;      
}


#warning-empty-add-email{
    color: red;
    font-size: 12px;
    display: none;      
}


#warning-add-district{
    color: red;
    font-size: 12px;
    display: none;    
}

#warning-empty-add-district{
    color: red;
    font-size: 12px;
    display: none;    
}

#warning-add-province{
    color: red;
    font-size: 12px;
    display: none;    
}

#warning-empty-add-province{
    color: red;
    font-size: 12px;
    display: none;    
}

#warning-add-ward{
    color: red;
    font-size: 12px;
    display: none;    
}

#warning-empty-add-ward{
    color: red;
    font-size: 12px;
    display: none;    
}

#warning-add-street{
    color: red;
    font-size: 12px;
    display: none;    
}

#warning-empty-add-street{
    color: red;
    font-size: 12px;
    display: none;    
}


#warning-empty-search-customer{
    color: red;
    font-size: 12px;
    display: none;  
}

#warning-name-valid{
    color: red;
    font-size: 12px;
    display: none;  
}


#modal-empty-change-name{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-invalid-change-name{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-empty-change-phone{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-invalid-change-phone{
    color: red;
    font-size: 12px;
    display: none;  
}
#modal-empty-change-email{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-invalid-change-email{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-empty-change-city{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-invalid-change-city{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-empty-change-street{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-invalid-change-street{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-empty-change-ward{
    color: red;
    font-size: 12px;
    display: none;  
}

#modal-invalid-change-ward{
    color: red;
    font-size: 12px;
    display: none;  
}